body.loading {
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  transform: translate(0px, -20px) rotate(45deg);
  display: flex !important;
}
body.loading:after {
  content: "";
  border: 5px solid #373737;
  border-radius: 200px;
  position: absolute;
  height: 60px;
  width: 60px;
  transform: translate(0px, 8px) rotate(45deg);
  z-index: -1;
  animation: circle 1s linear infinite alternate;
}
body.loading *:not(.loader) {
  display: none !important;
}

.loader {
  transform-style: preserve-3d;
  width: 29px;
  height: 60px;
  border-top: 1px solid rgb(255, 255, 255);
  display: block;
  outline: 1px solid #41c9d6;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.074);
  background-color: #41c9d6;
  background-image: radial-gradient(black 0%, black 35%, #41c9d6 36%),
    linear-gradient(#41c9d6 10px, transparent 0);
  background-size: 28px 28px;
  background-position: center 12px, center 2px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: animloaderBack 1000ms linear infinite alternate;
}
.loader:before {
  border-bottom: 15px solid red;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;

  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  display: flex;
  transform: translateX(-50%) translateZ(-1px);
  width: 50px;
  height: 30px;
  border-radius: 12px 12px 15px 15px;
  box-shadow: 64px 30px #8febf0 inset;
  top: 30px;
  border-bottom: 14px solid rgb(0, 0, 0, 0);
  display: block;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateZ(-1px) rotate(4deg);
  width: 3px;
  height: 34px;
  top: 112%;
  background: radial-gradient(
    ellipse at center,
    #ffffff 8%,
    rgb(255, 255, 255) 24%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 50% 50% 50% 50%;
  background-repeat: no-repeat;
  background-position: -44px -44px;
  background-size: 100px 100px;
  box-shadow: 4px 4px 4px 20px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloaderBack {
  0%,
  30%,
  70% {
    transform: translateY(0px);
  }
  20%,
  40%,
  100% {
    transform: translateY(-5px);
  }
}

@keyframes animloader {
  0% {
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.75);
    width: 24px;
    height: 34px;
    background-position: -44px -44px;
    background-size: 100px 100px;
  }
  100% {
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.279);
    width: 15px;
    height: 48px;
    background-position: -40px -36px;
    background-size: 80px 80px;
  }
}

@keyframes circle {
  0% {
    border-color: rgb(72, 72, 72);
  }
  100% {
    border-color: rgb(165, 165, 165);
  }
}
body.loaded {
  display: unset !important;
}
